{% extends "base.html" %}
{% block page_title %}{{block.super}} Change Password{% endblock %}
{% block breadcrumbs %}
    <nav class="breadcrumbs">
        <a href="{% url 'homepage' %}">Home</a>
        <a class="current">Password Change</a>
    </nav>
{% endblock %}
{% block content %}
    <div class="small-12 columns">
        <h2>{{ title }}</h2>
        <form method="post">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <button type="submit">Change Password</button>
        </form>
    </div>
{% endblock %}