{% load static %}
<script>
    /**
     * Created by scotm on 26/02/15.
     */
    var data = {{ object.get_simplified_geom_json | safe}};
    var markers = [];
    var selected_address_count = 0;
    var selected_postcodes = [];
    var red_icon = L.icon({
        iconUrl: '{% static "images/marker-set-red.png" %}',
        shadowUrl: '{% static "images/marker-shadow.png" %}'
    });
    var blue_icon = L.icon({
        iconUrl: '{% static "images/marker-set.png" %}',
        shadowUrl: '{% static "images/marker-shadow.png" %}'
    });

    // Return a helper with preserved width of cells
    var fixHelper = function (e, ui) {
        ui.children().each(function () {
            $(this).width($(this).width());
        });
        return ui;
    };

    $("#postcodes_table").find("tbody").sortable({
        helper: fixHelper,
        placeholder: ''
    }).disableSelection();

    // Makes the map center itself on a given postcode
    $('#postcode_form').on("keyup keypress", function (e) {
        var code = e.keyCode || e.which;
        if (code == 13) {
            // Suppress form input actions
            e.preventDefault();
            if (e.type == 'keypress') {
                // Get the postcode point with AJAX.
                $.ajax({
                            url: '{% url "postcode_point" %}',
                            cache: false,
                            data: {'postcode': $('#postcode_input').val()},
                            success: function (data) {
                                if (data['data']) {
                                    // Assign the map view, and redraw the layer
                                    map.setView([data['data'][1], data['data'][0]], 18);
                                    redrawMarkers();
                                }
                            }
                        }
                );
            }
        }
    });

    var mapboxTiles = L.tileLayer('	http://otile1.mqcdn.com/tiles/1.0.0/map/{z}/{x}/{y}.jpg?', {
        attribution: '© OpenStreetMap contributors - <a href="http://www.opendatacommons.org/licenses/odbl">Terms</a>'
    });

    // Draw a JSON polygon over the map. Piece of cake.
    var geojson = L.geoJson(data, {});
    var map = L.map('map').addLayer(mapboxTiles);
    geojson.addTo(map);
    resetView();

    // Called when a marker is clicked.
    // If it's not been selected, make it red, and add to the report.
    // If it's already selected, make it blue and remove from the report.
    function marker_click() {
        // Has this already been selected?
        if ($.inArray(this.options.title, selected_postcodes) == -1) {
            this.setIcon(red_icon);
            $.ajax({
                        url: '{% url "get_addresses" %}',
                        cache: false,
                        data: {'postcode': this.options.title},
                        success: function (data) {
                            var index_of_postcode = $.inArray(data['postcode'], selected_postcodes);
                            if (index_of_postcode == -1) {
                                // Add the row to the table.
                                $('#postcodes_table').each(function () {
                                    var tds = '<tr><td>' + data['postcode'] + '</td><td>' +
                                            //data['data'].join(':: ') +
                                            '</td><td>' + data['summary'] + '</td></tr>';
                                    if ($('tbody', this).length > 0) {
                                        $('tbody', this).append(tds);
                                    } else {
                                        $(this).append(tds);
                                    }
                                    selected_address_count = selected_address_count + data['data'].length;
                                    selected_postcodes.push(data['postcode']);
                                });
                            }
                            // Update the displayed count of addresses
                            updateAddressCount();
                        }
                    }
            );
        } else {
            this.setIcon(blue_icon);
            postcode = this.options.title;
            // Remove the row from the table
            var p = $('#postcodes_table').find('tr td').filter(function () {
                return $(this).text() == postcode;
            }).closest("tr");
            // Set the counter correctly.
            selected_address_count = selected_address_count - p[0].lastChild.innerHTML.split('<br>').length;
            p.remove();
            selected_postcodes.splice($.inArray(this.options.title, selected_postcodes), 1);
            updateAddressCount();
        }
    }

    function resetView() {
        map.fitBounds(geojson);
    }

    function updateAddressCount() {
        $('#count_addresses').html(selected_address_count);
    }

    function resetPage() {
        selected_postcodes = [];
        selected_address_count = 0;
        $('#postcodes_table').find('tr').each(function () {
            this.remove();
        });
        $("#run_name").val('');
        $("#run_notes").val('');
    }

    function displayModal(html) {
        modal = $('#myModal');
        modal.html(html);
        modal.foundation('reveal', 'open');

    }

    // Add the event handlers
    map.on('zoomend', redrawMarkers);
    map.on('dragend', redrawMarkers);
    $("#resetView").click(function () {
        resetView();
    });

</script>