{% extends "base.html" %}
{% block content %}
    <div class="large-12 columns">
        <h1>About the SSP</h1>

        <p>The Scottish Socialist Party was founded in 1999 and stands for an independent socialist Scotland, a modern
            democratic republic. We won 6 seats in the 2003 Holyrood elections where we won 130,000 votes for a
            red-blooded political manifesto. Our success was due in part to the prominent role we played in opposing
            Tony Blair's illegal war in Iraq and the unparalleled political support we gave to the striking
            firefighters and their families in the historic dispute of 2002/3.</p>

        <p>Ours is a party that dares to be different. We stand up to the powerful Scottish establishment on behalf of
            this country's working class majority and we promote progressive, fair and just political change. We
            reject the neo-liberal economic model and brutal dog eat dog greedy politics so worshipped by the mainstream
            parties in Scotland. </p>

        <p> The SSP is an anti-capitalist, pro-independence party, with a vision of a different kind of society. We aim
            to build a Scotland where no one is left behind, where the needs of all the people are catered for, young
            and old, men and women, gay and straight, black and white, able-bodied or those with special needs.</p>

        <p>Our socialism is centred on today's world and the needs of everyone and is rooted not in the past but
            learns from the past in order to build a better tomorrow.</p>

        <p>We favour public ownership rather than private capitalism. So, for example, we want to see our gas and
            electricity industries returned to public ownership as part of a plan to eradicate the fuel poverty which
            now casts its cold and dreary shadow over one in three households in Scotland.</p>

        <p>We want to see Scotland's oil industry publicly owned too just like in Norway. Across the North Sea our
            wealthy neighbours invested their oil riches in a Trust Fund for the people who now has £400billion in it.
            And it is no coincidence that country sits atop the UN's Index of Content Nations.</p>

        <p>For the Scottish Socialist Party the poverty which we see all around this wealthy country is a man-made
            outrage. We favour redistribution of Scotland's huge wealth by insisting the rich and powerful
            corporations and individuals pay their fair share of taxes.</p>

        <p>We are building the Scottish Socialist Party into a broad-based mass party and we welcome new members every
            day. Why not join us today?</p>

        <p><em>The SSP's national co-spokespeople are Colin Fox and Sandra Webster.</em></p>

    </div>
{% endblock %}