{% load static %}
<div class="row">
    <div class="large-12 columns">
        <div class="nav-bar left">
            <a href="{% url 'homepage' %}"><img src='{% static "images/comrade-header.svg" %}'/></a>
        </div>
        <div class="nav-bar right">
            <ul class="button-group">
                <li><a href="#" class="button radius">Canvass</a></li>
                <li><a href="#" class="button radius">Leaflet</a></li>
                <li><a href="{% url 'reporting' %}" class="button radius">Reports</a></li>
            </ul>
        </div>
        <hr/>
    </div>
</div>