<div class="row">
    <div class="large-12 columns">
        <div class="nav-bar right">
            <ul class="button-group">
                <li><a href="#" class="button radius">Link 1</a></li>
                <li><a href="#" class="button radius">Link 2</a></li>
                <li><a href="#" class="button radius">Link 3</a></li>
                <li><a href="#" class="button radius">Link 4</a></li>
            </ul>
        </div>
        <h1>Canvassing
            <small>Let's see what the voters think.</small>
        </h1>
        <hr/>
    </div>
</div>