{% extends "base.html" %}
{% block content %}
    <div class="large-9 columns">
        <div class="row">
            <h1>Canvassing & Organisation: Making Running Activism Downright Easy</h1>

            <p>The Scottish Socialist Party has long been in need of a Voter ID system, to ensure that we keep track of
                interactions of voters with the party.</p>
        </div>
    </div>
    <div class="large-3 columns">
        <div class="row">
            {% if downloadables %}
                <h5>Recent Downloads</h5>
                {% for download_file in downloadables %}

                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}