{% extends "base.html" %}
{% block content %}
    <div class="large-9 columns">

        <h1>Canvassing & Organisation: Making Running Activism Downright Easy</h1>

        <p>The Scottish Socialist Party has long been in need of a Voter ID system, to ensure that we keep track of
            interactions of voters with the party.</p>

        <p>To effectively fight elections, we're going to need to be better equipped. We need to know who are the
            supporters of the party – our members, who has signed our petitions, who has donated to the party, who
            has expressed sympathies with the Scottish Socialist Party, this is the purpose of COMRADE.</p>

        <p>There are a record 4.1 million voters in Scotland. Let's keep track of every interaction we have with
            them. Every petition signature, every donation, every purchase from the shop, every door knocked, every
            question asked, every organised leaflet drop.</p>
    </div>
    <div class="large-3 columns">
        <div class="side-nav">
            <h5>Recent Downloads</h5>

            {% for download_file in downloadables %}

            {% empty %}
                <p>Will appear here.</p>
            {% endfor %}
        </div>
        <div class="panel">
            <h5>Current campaign</h5>
            {{ current_campaign |default:"None just now" }}
        </div>
    </div>
{% endblock %}