{% extends "base.html" %}
{% block breadcrumbs %}
    <nav class="breadcrumbs">
        <a href="{% url 'homepage' %}">Home</a>
        <a class="current">Canvass Data Input</a>
    </nav>
{% endblock %}
{% block content %}
    <div class="small-12 columns">
        <h2>Find a canvass run to input.</h2>

        <form>
            <table>
                {{ form.as_table }}
            </table>
        </form>
        {% if user_runs %}
            {% for run in user_runs %}
                <a href="{{ run.get_absolute_url }}">{{ run }}</a>
            {% endfor %}
        {% endif %}

    </div>
{% endblock %}