{% extends "base.html" %}
{% block page_title %}{{block.super}} Choose Canvass Run{% endblock %}
{% block breadcrumbs %}
    <nav class="breadcrumbs">
        <a href="{% url 'homepage' %}">Home</a>
        <a href="{% url 'canvass_homepage' %}">Canvassing</a>
        <a class="current">Choose Run</a>
    </nav>
{% endblock %}

{% block content %}
    <div class="small-12 columns">
        <h2>{% block name %}Canvass Runs{% endblock %}</h2>
        <form action="" method="get">
        <table>
            <tr>
                {% block table_header %}
                    <th>{{ filter.form.name.errors }}
            <label for="{{ filter.form.name.id_for_label }}">{{ filter.form.name.label }}:</label>
            {{ filter.form.name }}</th>
                    <th>People</th>
                    <th>{{ filter.form.ward__local_authority_name.errors }}
            <label for="{{ filter.form.ward__local_authority_name.id_for_label }}">Local Authority:</label>
            {{ filter.form.ward__local_authority_name }}</th>
                    <th>{{ filter.form.ward__ward_name.errors }}
            <label for="{{ filter.form.ward__ward_name.id_for_label }}">Ward Name:</label>
            {{ filter.form.ward__ward_name }}</th>
                    <th>{{ filter.form.created_by.errors }}
            <label for="{{ filter.form.created_by.id_for_label }}">{{ filter.form.created_by.label }}:</label>
            {{ filter.form.created_by }}</th>
                    <th><button type="submit">Submit</button></th>
                {% endblock table_header %}
            </tr>
            {% for object in object_list %}
                <tr>
                    {% block line %}
                        <td><a href="{% url 'canvass_run' object.pk %}">{{ object }}</a></td>
                        <td>{{ object.count_people }}</td>
                        <td>{{ object.ward.local_authority_name }}</td>
                        <td>{{ object.ward.ward_name }}</td>
                        <td>{{ object.created_by }}</td>
                    {% endblock %}
                </tr>
            {% endfor %}
        </table>
        </form>

    </div>
{% endblock %}