{% extends "base.html" %}
{% load static %}
{% block header %}{% endblock %}
{% block extrahead %}
    <link rel="stylesheet" href="{% static 'leaflet.css' %}"/>
{% endblock %}
{% block page_title %}{{ block.super }}{% endblock %}
{% block breadcrumbs %}{% endblock %}
{% block content %}
    <div class="large-12 columns">
        <h3>{{ object.name }}</h3>

        <p>Question 1: Which party will you support for the upcoming UK general election?</p>

        <p>Question 2: Which party will you support with your list vote in the 2016 Scottish Parliament election? (give
            list of parties)</p>

        <div id="map"></div>
        {% for domecile in object.get_domeciles %}
            <div class="domecile">
                <div class="row">
                    <div class="large-12 columns">
                        <h5>{{ domecile }}</h5>
                    </div>
                </div>
                {% for contact in domecile.get_contacts %}
                    <div class="contact">
                        <div class="row">
                            <div class="large-4 columns">
                                <h6>{{ contact }}</h6>
                            </div>
                            <div class="large-4 columns">
                                Q1. <img src="{% static 'images/answerbox.svg' %}"/>
                            </div>
                            <div class="large-4 columns">
                                Q2. <img src="{% static 'images/answerbox.svg' %}"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-2 columns">Moved <img src="{% static 'images/checkbox.svg' %}"/></div>
                            <div class="large-2 columns">Too busy <img src="{% static 'images/checkbox.svg' %}"/></div>
                            <div class="large-2 columns">Unavailable <img src="{% static 'images/checkbox.svg' %}"/>
                            </div>
                            <div class="large-2 columns">No interest <img src="{% static 'images/checkbox.svg' %}"/>
                            </div>
                            <div class="large-2 columns">DNC <img src="{% static 'images/checkbox.svg' %}"/></div>
                            <div class="large-2 columns">Deceased <img src="{% static 'images/checkbox.svg' %}"/></div>
                        </div>
                    </div>
                    {% if not forloop.last %}

                    {% endif %}

                {% endfor %}
            </div>
        {% endfor %}

    </div>
{% endblock %}
{% block footer %}{% endblock %}
{% block before_body_close %}
    <script>

{#        accessToken = 'pk.eyJ1Ijoic2NvdG0iLCJhIjoiMGh1dWtYYyJ9.1DmL5VwbNVjbbH3thY2qAw';#}
{#        var mapboxTiles = L.tileLayer('https://{s}.tiles.mapbox.com/v4/scotm.lad5iljo/{z}/{x}/{y}.png?access_token=' + accessToken, {#}
{#            attribution: '<a href="http://www.mapbox.com/about/maps/" target="_blank">Terms &amp; Feedback</a>'#}
{#        });#}

        L.Icon.Default.imagePath = '{% static "images" %}';
        var mapboxTiles = L.tileLayer('	http://otile1.mqcdn.com/tiles/1.0.0/map/{z}/{x}/{y}.jpg?', {
            attribution: '© OpenStreetMap contributors - <a href="http://www.opendatacommons.org/licenses/odbl">Terms</a>'
        });
        var geojson = L.geoJson({{ object.get_points_json | safe}}, {});

        var map = L.map('map').addLayer(mapboxTiles);

        geojson.addTo(map);

        map.fitBounds(geojson);
    </script>
{% endblock %}