{% extends "base.html" %}
{% load static %}
{% block header %}{% endblock %}
{% block extrahead %}
    <link rel="stylesheet" href="{% static 'leaflet.css' %}"/>
{% endblock %}
{% block page_title %}{{ block.super }}{{ object.name }}{% endblock %}
{% block breadcrumbs %}{% endblock %}
{% block content %}
    <div class="large-12 columns">
        <h3>{{ object.name }}</h3>
        {% if object.notes %}
        <p><em>{{ object.notes }}</em></p>
        {% endif %}
        <p>
            {% for question in object.questionaire.questions.all %}
                <strong>Question {{ forloop.counter }}</strong>: {{ question.polling_question }}{% if question.type == 'Multiple-choice' %} ({{ question.choices }}){% endif %}<br/>
            {% endfor %}
            <strong>Response</strong> - <em>M</em>: Moved, <em>B</em>: Too busy, <em>U</em>: unavailable, <em>N</em>:
            Not interested, <em>D</em>: Do Not Contact, <em>X</em>: Deceased
        </p>
        <div id="map"></div>
        {% for domecile in object.get_domeciles %}
            <div class="domecile">
                <div class="row">
                    <div class="large-12 columns">
                        <h5>{{ domecile }}</h5>
                    </div>
                </div>
                {% for contact in domecile.get_contacts %}
                    <div class="contact">
                        <div class="row">
                            <div class="large-2 columns">
                                <strong>{{ contact }}</strong>
                            </div>
                            {% for question in object.questionaire.questions.all %}
                            <div class="large-{% if question.type == 'Detailed Answer' %}4{% else %}2{% endif%} columns">
                                Q{{ forloop.counter }}. {% if question.type != 'Detailed Answer' %}<img src="{% static 'images/answerbox-small.svg' %}"/>{% endif %}
                            </div>
                            {% endfor %}
                            <div class="large-2 columns">
                                Response. <img src="{% static 'images/checkbox.svg' %}"/>
                            </div>
                        </div>
                    </div>
                    {% if not forloop.last %}

                    {% endif %}

                {% endfor %}
            </div>
        {% endfor %}

    </div>
{% endblock %}
{% block footer %}{% endblock %}
{% block before_body_close %}
    <script>

        {#        accessToken = 'pk.eyJ1Ijoic2NvdG0iLCJhIjoiMGh1dWtYYyJ9.1DmL5VwbNVjbbH3thY2qAw';#}
        {#        var mapboxTiles = L.tileLayer('https://{s}.tiles.mapbox.com/v4/scotm.lad5iljo/{z}/{x}/{y}.png?access_token=' + accessToken, {#}
        {#            attribution: '<a href="http://www.mapbox.com/about/maps/" target="_blank">Terms &amp; Feedback</a>'#}
        {#        });#}

        L.Icon.Default.imagePath = '{% static "images" %}';
        var mapboxTiles = L.tileLayer('	http://otile1.mqcdn.com/tiles/1.0.0/map/{z}/{x}/{y}.jpg?', {
            attribution: '© OpenStreetMap contributors - <a href="http://www.opendatacommons.org/licenses/odbl">Terms</a>'
        });
        var geojson = L.geoJson({{ object.get_points_json | safe}}, {});

        var map = L.map('map',{'dragging':false}).addLayer(mapboxTiles);

        geojson.addTo(map);

        map.fitBounds(geojson);
        map.setZoom(map.getZoom()-1);
    </script>
{% endblock %}