{% extends "base.html" %}
{% load static %}
{% block extrahead %}
    <link rel="stylesheet" href="{% static 'leaflet.css' %}"/>
{% endblock %}

{% block content %}
    <div class="large-12 columns">
        <div class="row">
            <h1>{{ object.local_authority_name }}: {{ object.ward_name }}</h1>

            <p>Zoom the map, and pick off the postcodes you'd like to add to this run.</p>

            <form id="postcode_form">
                <div class="row">
                    <div class="large-10 columns">
                        <label>Postcode
                            <input type="text" placeholder="Put a postcode in here - and the map will go there"
                                   id="postcode_input"/>
                        </label>
                    </div>
                    <div class="large-2 columns">
                        <button id="resetView">View Ward</button>
                    </div>
                </div>
            </form>
            <div id="map"></div>
            <p>There are <span id="count_addresses">0</span> addresses on this run so far.</p>
            <table id="postcodes_table">
                <thead>
                <tr>
                    <th width="150">Postcode</th>
                    <th>Addresses</th>
                </tr>
            </table>
            <form id="run_information">
                <div class="large-12 columns">
                    <div class="row">
                        <div class="large-12 columns">
                            <label>Postcode
                                <input type="text" placeholder="Put a postcode in here - and the map will go there"
                                       id="postcode_input"/>
                            </label>
                        </div>
                    </div>
                    <label>Notes on this run
                        <textarea placeholder="Notes"></textarea>
                    </label>
                </div>
            </form>
        </div>

    </div>
{% endblock %}

{% block before_body_close %}
    {% include "js/map_code.html" %}
{% endblock %}
