{% extends "base.html" %}
{% block extrahead %}
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css"/>
    <style>
        #map {
            height: 500px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="large-12 columns">
        <div class="row">
            <h1>{{ object.local_authority_name }}: {{ object.ward_name }}</h1>

            <p>Zoom the map, and pick off the postcodes you'd like to add to this run.</p>

            <div id="map"></div>
        </div>
    </div>
{% endblock %}

{% block before_body_close %}
    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    <script>
        var data = {{ object.get_simplified_geom_json | safe}};
        var points = [];
        var markers = [];

        var mapboxTiles = L.tileLayer('	http://otile1.mqcdn.com/tiles/1.0.0/map/{z}/{x}/{y}.jpg?', {
            attribution: '© OpenStreetMap contributors - <a href="http://www.opendatacommons.org/licenses/odbl">Terms</a>'
        });
        var map = L.map('map')
                .addLayer(mapboxTiles)
                .setView([{{ object.centre_point.0 }}, {{ object.centre_point.1}}], 14);
        L.geoJson(data, {}).addTo(map);

        function redrawMarkers() {
            if (map.getZoom() >= 16) {
                m = map.getBounds();
                $.ajax({
                            url: '/ajax/get_domeciles',
                            cache: false,
                            data: {'BBox': m.toBBoxString(), 'region': {{object.pk}}},
                            success: function (data, textStatus, jqXHR) {
                                points = data['data'];
                                markers.forEach(function (entry) {
                                    map.removeLayer(entry)
                                });

                                points.forEach(function (entry) {
                                    var marker = L.marker([entry['point'][1], entry['point'][0]], {'title': entry['postcode']});
                                    markers.push(marker);
                                    map.addLayer(marker)
                                });

                            }
                        }
                );
            } else {
                points = [];
                markers.forEach(function (entry) {
                    map.removeLayer(entry)
                });
            }

        }

        // Add the event handlers
        map.on('zoomend', redrawMarkers);
        map.on('dragend', redrawMarkers);

    </script>
{% endblock %}
