{% extends "base.html" %}
{% block page_title %}{{ block.super }} About RISE{% endblock %}
{% block content %}
    <div class="large-12 columns">
        <h2>About RISE</h2>

        <p>Our name –&nbsp;<strong>RISE – Scotland’s Left Alliance</strong>&nbsp;– reflects our political outlook and
            organisational make-up.</p>
        <ul>
            <li><strong>Respect:</strong>&nbsp;We stand for a society where we end racism, sexism, discrimination on the
                grounds of sexuality and where people of all backgrounds, colours and creeds are treated with respect
                and dignity.
            </li>
            <li><strong>Independence:</strong>&nbsp;We stand for Independence for Scotland. But our Independence is
                based on ending neoliberalism, austerity and the membership of NATO. We are for ending the monarchy and
                putting people in charge.
            </li>
            <li><strong>Socialism:</strong>&nbsp;We are for a social alternative to capitalism where people run the
                affairs of our society democratically and where the vast resources of society are utilised in common,
                rather than for the super-rich.
            </li>
            <li><strong>Environmentalism:</strong>&nbsp;We believe that environmentalism must be central to social
                change. Our world is being destroyed by the ruthless pursuit of profit over everything else. Sustainable
                ecology – where we maximise our enormous renewable energy potential to power Scotland – at the heart of
                a radical vision for change.
            </li>
        </ul>

    </div>
{% endblock %}