{% extends "base.html" %}
{% block content %}
    <div class="large-12 columns">
        <h1>How you can help</h1>
        <em>by Scott Macdonald</em>
        <h2>Reporting bugs and Feature Requests</h2>

        <p>To report bugs and feature requests, you'll need a <a href="https://github.com/join">free Github
            account.</a> Sorry about that - I don't have the time to create an internal bug tracker, when there's a
            robust, tested and exceptional quality one provided for free. An additional advantage is that it's inbuilt
            with the program code distribution mechanism.</p>

        <p>For feature requests, and reporting bugs - make them under the code repository's <a
                href="https://github.com/scotm/canvassing/issues">Issues page</a></p>

        <p>The source code to COMRADE is <a href="https://github.com/scotm/canvassing">here</a>. It's where the current
            source code lives, where I'll tag releases, and deploy from. You'll need a Git client to make development
            changes that I can accept. Please feel free to <a href="https://git-scm.com/docs/git-clone">clone the
                repository</a> - and make changes to improve it.</p>
        <h2>Building your own copy of COMRADE</h2>
        <h4>Requirements</h4>

        <p>You'll need </p>
        <ul>
            <li>Python (I use version 2.7)</li>
            <li>a recent 9.x version of PostgreSQL</li>
            <li>the PostGIS extension</li>
            <li>0.12 of Node.js</li>
            <li>npm - to get the build system up and running</li>
            <li>bower - to grab components that are needed in the build system</li>
        </ul>

        <p>Under Ubuntu 14.04 LTS the commands to install these components are as follows.</p>
<pre>sudo apt-get install curl
curl -sL https://deb.nodesource.com/setup_0.12 | sudo bash -
sudo apt-get update
sudo apt-get install -y git build-essential postgresql-server-dev-all postgresql-9.3-postgis-2.1 virtualenvwrapper python-dev nodejs</pre>

        <h4>Get the source code</h4>
        <p>Type in the following (this retrieves the code, and the required postcode_locator
            submodule)</p>

<pre>git clone https://github.com/scotm/canvassing.git
cd canvassing
git submodule init
git submodule update</pre>
        <h4>Get the build requirements</h4>
        <p>Get the <a href="https://www.npmjs.com/">npm</a> and <a href="http://bower.io/">bower</a> requirements - and
            build the stylesheets with <a href="http://gruntjs.com/">grunt</a>.</p>

<pre>sudo npm install -g bower
sudo npm install -g grunt-cli
bower install -s
npm install --loglevel silent
grunt
./manage.py collectstatic --noinput</pre>
        <h4>Get the Python requirements</h4>
        This creates a COMRADE specific Python virtual environment, and pulls in the required software components.

<pre>mkvirtualenv comrade
pip install -r requirements/local.txt</pre>
        <h4>Prepare the database:</h4>
        <p>Create the user and database.</p>

<pre>sudo su postgres -c "createuser -s &lt;your username&gt;"
createdb comrade</pre>
        <a id="reveal-1">Show full details of DB setup</a>
        <div id="reveal-1-text" style="display:none;">
            <div data-alert class="alert-box" style="font-weight:700;">
                <a href="#end_of" style="color:#fff;text-decoration: underline">DONT BOTHER WITH</a> THIS SECTION IF YOU
                DON'T HAVE AN ELECTORAL REGISTER TO USE.
            </div>
            <p>Install the PostGIS, and topology extensions.</p>

            <pre>psql -d comrade -c "CREATE EXTENSION postgis; CREATE EXTENSION postgis_topology;"</pre>
            <p>Now create the database tables:</p>

            <pre>./manage.py syncdb</pre>
            <p>You'll be asked to add a superuser - fill out the username, email address and password.</p>
            <p>Obtain the Code-Point® Open and Boundary-Line™ packages from the <a
                    href="https://www.ordnancesurvey.co.uk/opendatadownload/products.html">Ordnance Survey OpenData</a> page.
                And the ward boundary lines from <a
                        href="https://geoportal.statistics.gov.uk/Docs/Boundaries/Wards_(GB)_2014_Boundaries_(Full_Extent).zip">geoportal.statistics.gov.uk</a>.
                Unzip them.</p>
            <p>You'll find a CSV file with all the postcode points in the Code-Point® Open package. Import it using this
                command:</p>

            <pre>./manage.py fill_up_db &lt;path to postcode CSV file&gt;</pre>
            <p>The ward and region shape files are part of the respective packages. Import them with these commands.</p>

<pre>./manage.py load_wards &lt;path to&gt;/WD_DEC_2014_GB_BFE.shp
./manage.py load_regions &lt;path to&gt;/scotland_and_wales_const_region.shp &lt;path to&gt;/scotland_and_wales_region_region.shp &lt;path to&gt;/scottish_westminster_const.shp</pre>
            <p>That's as far as we can go without getting the electoral registers. And these are only available to
                nominated individuals under the Representation of the People (Scotland) Regulations 2001 as amended by
                the Representation of the People (Scotland) (Amendment) Regulations 2002 and the Representation of the
                People (Scotland) Amendment Regulations 2006.</p>
        </div>
        <a name="end_of"></a>
        <hr/>
        <h4>Fake Data</h4>
        <p>Rather than distributing a load of highly privileged information, I've prepared a set of <a
                href="https://github.com/scotm/canvassing/raw/master/comrade.pgsql.lzma">fake data</a> - covering one
            ward in Dundee - fake names, initials, and adding and removing a few fake people.
        </p>
        <div data-alert class="alert-box" style="font-weight:700;">Under no circumstance is this to be used for a real
            canvass.
        </div>
        <p>Download, decompress and inject it into your pre-prepared database using the following:</p>

<pre>wget https://github.com/scotm/canvassing/raw/master/comrade.pgsql.lzma
lzcat comrade.pgsql.lzma | psql comrade</pre>

        <p>Run the development webserver to use COMRADE.</p>

        <pre>./manage.py runserver_plus</pre>
        <p>Finally, go to <a href="http://127.0.0.1:8000/">http://127.0.0.1:8000/</a></p>
        <p>The test data includes a superuser - the username is "test", and the password is "test"</p>
    </div>
{% endblock %}
{% block before_body_close %}
    <script>
        $("#reveal-1").click(function () {
            $('#reveal-1-text').toggle("slow");
        });
    </script>
{% endblock %}