<footer class="row">
    <div class="large-12 columns">
        <hr/>
        <div class="row">
            <div class="large-6 columns">
                <p>© Copyright Scottish Socialist Party<br>Suite 370 Central Chambers, 93 Hope Street, Glasgow, G2 6LD<br />
P: 07790 581883</p>
            </div>
            <div class="large-6 columns">
                <ul class="inline-list right">
                    <li><a href="{% url 'about_the_ssp' %}">About the SSP</a></li>
                    <li><a href="#">Documentation</a></li>
                    <li><a href="{% url 'why_canvass' %}">Why Canvass?</a></li>
                    <li><a href="#">Organisers</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
