<footer class="row">
    <div class="large-12 columns">
        <hr/>
        <div class="row">
            <div class="small-12 medium-4 columns">
                <p class="visible-for-medium-up">© Copyright Yes Edinburgh North &amp; Leith</p>
            </div>
            <div class="small-12 medium-8 columns">
                <ul class="inline-list right">
                    <li><a href="{% url 'bugs' %}">Bugs, Features and Building</a></li>
                    <li><a href="{% url 'about_us' %}">About YENL</a></li>
                    {% if user and user.is_authenticated %}
                    <li><a href="{% url 'why_canvass' %}">Why Canvass?</a></li>
                    <li><a href="{% url 'why_leaflet' %}">Why Leaflet?</a></li>
                    {% endif %}
                </ul>
                
            </div>
        </div>
    </div>
</footer>
