{% load static %}
<div class="row">
    <div class="large-12 columns">
        <nav class="top-bar" data-topbar role="navigation">
            <ul class="title-area">
                <li class="name">
                    {#                    <h1><a href="{% url 'homepage' %}"><img src='{% static "images/comrade-header.svg" %}'#}
                    {#                                                            id="header_image"/></a></h1>#}
                    <h1><a href="{% url 'homepage' %}">COMRADE</a></h1>
                </li>
                <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
                <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
            </ul>

            <section class="top-bar-section">
                <!-- Right Nav Section -->
                <ul class="right">
                    {% if user and user.is_authenticated %}
                    <li><a href="{% url 'canvass_homepage' %}">Canvass</a></li>
                    <li><a href="{% url 'leaflet_homepage' %}">Leaflet</a></li>
                    <li><a href="{% url 'find_contact' %}">Signatures</a></li>
                    <li class="has-dropdown">
                        <a href="#">Account</a>
                        <ul class="dropdown">
                            <li><a href="#">My Booked Lists</a></li>
                            <li><a href="{% url 'reporting' %}">Reports</a></li>
                            <li><a href="{% url 'password_change' %}">Change Password</a></li>
                            <li><a href="{% url 'logout' %}">Log out</a></li>
                        </ul>
                    </li>
                    {% endif %}
                </ul>

                <!-- Left Nav Section -->
                {#        <ul class="left">#}
                {#            <li><a href="#">Left Nav Button</a></li>#}
                {#        </ul>#}
            </section>
        </nav>
    </div>
</div>
{#<div class="row">#}
{#    <div class="large-12 columns">#}
{#        <div class="nav-bar left">#}
{#            <a href="{% url 'homepage' %}"><img src='{% static "images/comrade-header.svg" %}'/></a>#}
{#        </div>#}
{#        <div class="nav-bar right">#}
{#            <ul class="button-group">#}
{#                <li><a href="{% url 'canvass_homepage' %}" class="button radius">Canvass</a></li>#}
{#                <li><a href="{% url 'leaflet_homepage' %}" class="button radius">Leaflet</a></li>#}
{#                <li><a href="{% url 'find_contact' %}" class="button radius">Signatures</a></li>#}
{#                <li>#}
{#                    <a href="#" class="button split">My Account<span data-dropdown="drop"></span></a><br>#}
{#                    <ul id="drop" class="f-dropdown" data-dropdown-content>#}
{#                        <li><a href="#">This is another</a></li>#}
{#                        <li><a href="{% url 'reporting' %}">Reports</a></li>#}
{#                        <li><a href="#">Booked runs</a></li>#}
{#                        <li><a href="#">Yet another</a></li>#}
{#                    </ul>#}
{#                </li>#}
{#            </ul>#}
{#        </div>#}
{#        <hr/>#}
{#    </div>#}
{#</div>#}
