{% load static %}
<div class="row">
    <div class="large-12 columns">
        <nav class="top-bar" data-topbar role="navigation">
            <ul class="title-area">
                <li class="name">
                    <h1><a href="{% url 'homepage' %}">COMRADE</a></h1>
                </li>
                <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
            </ul>

            <section class="top-bar-section">
                <!-- Right Nav Section -->
                <ul class="right">
                    <li><a href="{% if user and user.is_authenticated %}{% url 'canvass_homepage' %}{% else %}#{% endif %}">Canvass</a></li>
                    <li><a href="{% if user and user.is_authenticated %}{% url 'leaflet_homepage' %}{% else %}#{% endif %}">Leaflet</a></li>
                    {% if user and user.is_authenticated %}
                    <li><a href="{% url 'find_contact' %}">Signatures</a></li>
                    <li class="has-dropdown">
                        <a href="#">Account</a>
                        <ul class="dropdown">
                            {% if request.user.bookedcanvassrun_set.all %}<li><a href="{% url 'booked_lists' %}">My Booked Lists</a></li>{% endif %}
                            <li><a href="{% url 'reporting' %}">Reports</a></li>
                            <li><a href="{% url 'password_change' %}">Change Password</a></li>
                            <li><a href="{% url 'logout' %}">Log out</a></li>
                        </ul>
                    </li>
                    {% endif %}
                </ul>

            </section>
        </nav>
    </div>
</div>