{% extends "base.html" %}
{% load static %}
{% block extrahead %}
    <link rel="stylesheet" href="{% static 'leaflet.css' %}"/>
{% endblock %}

{% block content %}
    <div class="large-12 columns">
        <h1>{% block purpose %}Block:Purpose{% endblock %}</h1>

        <h2>{% block type %}
                {% if object.local_authority_name %}
                    {{ object.local_authority_name }}: {{ object.ward_name }}
                {% else %}
                    {{ object.name }}: {{ object.description }}
                {% endif %}
            {% endblock %}</h2>

        <p>Zoom the map, and pick off the postcodes you'd like to add to this run.</p>

        <div id="map"></div>
    <div id="coordinates"></div>
        <h6>Move To:</h6>
        <form id="postcode_form">
            <div class="row">
                <div class="large-9 columns">
                    <label>Postcode
                        <input type="text" placeholder="Put a postcode in here - and the map will go there"
                               id="postcode_input"/>
                    </label>
                </div>
                <div class="large-3 columns text-center">
                    <button id="resetView">Show Entire Ward</button>
                </div>
            </div>
        </form>

        <hr>
        <p>There are <span id="count_addresses">0</span> addresses on this run so far.</p>
        <table id="postcodes_table">
            <thead>
            <th width="150">Postcode</th>
            <th><!--Addresses--></th>
            <th>Summary</th>
            <th>Buildings</th>
            <th>Contacts</th>
            </thead>
            <tbody>
            </tbody>
        </table>
    <h3>Additional Details</h3>
        <form id="run_information">
            {% if questionaires %}
            <label>Select a questionaire:
                <select name="questionaire" id="questionaire">
                    {% for questionaire in questionaires %}
                        <option value="{{ questionaire.pk }}">{{ questionaire }}</option>
                    {% endfor %}
                </select>
            </label>
            {% endif %}
            <label>A name for this run:
                <input type="text" placeholder="Give this run a memorable title."
                       id="run_name"/>
            </label>
            <label>Notes on this run:
                <textarea placeholder="Tenements, big driveways, urban area, buzzers? Write these here."
                          id="run_notes"></textarea>
            </label>
            <button id="save_run">Save Run</button>
        </form>
    </div>
    <div id="myModal" class="reveal-modal" data-reveal></div>

{% endblock %}

{% block before_body_close %}
    <script src="//code.jquery.com/ui/1.11.3/jquery-ui.min.js"></script>
    <script>
        /**
         * Created by scotm on 26/02/15.
         */
        var geom_json_data = {{ object.get_simplified_geom_json | safe}};
        var markers = [];
        var selected_address_count = 0;
        var selected_postcodes = [];
        var red_icon = L.icon({
            iconUrl: '{% static "images/marker-set-red.png" %}',
            shadowUrl: '{% static "images/marker-shadow.png" %}'
        });
        var blue_icon = L.icon({
            iconUrl: '{% static "images/marker-set.png" %}',
            shadowUrl: '{% static "images/marker-shadow.png" %}'
        });

        {% include "get_csrftoken.js" %}

        // Return a helper with preserved width of cells
        var fixHelper = function (e, ui) {
            ui.children().each(function () {
                $(this).width($(this).width());
            });
            return ui;
        };

        var table_body = $("#postcodes_table").find("tbody");
        table_body.sortable({
            helper: fixHelper,
            placeholder: ''
        }).disableSelection();

        // Makes the map center itself on a given postcode
        $('#postcode_form').on("keyup keypress", function (e) {
            var code = e.keyCode || e.which;
            if (code == 13) {
                // Suppress form input actions
                e.preventDefault();
                if (e.type == 'keypress') {
                    // Get the postcode point with AJAX.
                    $.ajax({
                        url: '{% url "postcode_point" %}',
                        cache: false,
                        data: {'postcode': $('#postcode_input').val()},
                        success: function (data) {
                            if (data['data']) {
                                // Assign the map view, and redraw the layer
                                map.setView([data['data'][1], data['data'][0]], 18);
                                redrawMarkers();
                            }
                        }
                    });
                }
            }
        });

        var mapboxTiles = L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '© OpenStreetMap contributors - <a href="http://www.opendatacommons.org/licenses/odbl">Terms</a>'
        });

        // Draw a JSON polygon over the map. Piece of cake.
        var geojson = L.geoJson(geom_json_data, {});
        var map = L.map('map').addLayer(mapboxTiles);
        geojson.addTo(map);
        resetView();

        // Called when a marker is clicked.
        // If it's not been selected, make it red, and add to the report.
        // If it's already selected, make it blue and remove from the report.
        function marker_click() {
            // Has this already been selected?
            if ($.inArray(this.options.title, selected_postcodes) == -1) {
                this.setIcon(red_icon);
                $.ajax({
                    url: '{% url "get_addresses" %}',
                    cache: false,
                    data: {'postcode': this.options.title},
                    success: function (data) {
                        var index_of_postcode = $.inArray(data['postcode'], selected_postcodes);
                        if (index_of_postcode == -1) {
                            $('#postcodes_table').each(function () {
                                // Inject the row to the table.
                                var tds = '<tr><td>' + data['postcode'] + '</td><td>' +
                                            //data['data'].join(':: ') +
                                        '</td><td>' + data['summary'] + '</td><td>' +
                                        data['buildings'] + '</td><td>' + data['contacts'] + '</td></tr>';

                                // Fire it in.
                                if ($('tbody', this).length > 0) {
                                    $('tbody', this).append(tds);
                                } else {
                                    $(this).append(tds);
                                }
                                selected_address_count = selected_address_count + data['buildings'];
                                selected_postcodes.push(data['postcode']);
                            });
                        }
                        // Update the displayed count of addresses
                        updateAddressCount();
                    }
                });
            } else {
                this.setIcon(blue_icon);
                postcode = this.options.title;

                // Remove the row from the table
                table = $('#postcodes_table');
                var p = table.find('tr td').filter(function () {
                    return $(this).text() == postcode;
                }).closest("tr");
                p.remove();

                // Set the counter correctly.
                selected_address_count = 0;
                table.find('tr td:nth-child(4)').each(function () {
                    selected_address_count += parseInt($(this).text());
                });

                selected_postcodes.splice($.inArray(this.options.title, selected_postcodes), 1);
                updateAddressCount();
            }
        }

        function resetView() {
            map.fitBounds(geojson);
        }

        function updateAddressCount() {
            $('#count_addresses').html(selected_address_count);
        }

        function resetPage() {
            selected_postcodes = [];
            selected_address_count = 0;
            // Remove all non-header rows from the table
            // http://stackoverflow.com/questions/9420203/how-to-remove-all-rows-of-the-table-but-keep-the-header
            $('#postcodes_table').find('tr').not(function () {
                if ($(this).has('th').length) {
                    return true
                }
            }).remove();
            $("#run_name").val('');
            $("#run_notes").val('');
        }

        function displayModal(html) {
            modal = $('#myModal');
            modal.html(html);
            modal.foundation('reveal', 'open');
        }

        // Add the event handlers
        map.on('zoomend', redrawMarkers);
        map.on('dragend', redrawMarkers);
        $("#resetView").click(function (e) {
            e.preventDefault();
            resetView();
        });

        $("#save_run").click(function (e) {
            // Stop it moving to another page, or refreshing
            e.preventDefault();

            // Start verification - and display a modal if it fails.
            var error_messages = [];
            var run_name = $("#run_name").val();
            var run_notes = $("#run_notes").val();
            var run_questionaire = $("#questionaire").val();

            // Needs a title
            if (run_name === '') {
                error_messages.push('You must give this run a name.');
            }

            // Needs some postcodes
            if (selected_postcodes.length == 0) {
                error_messages.push("You must add some postcodes for this run.");
            }

            // If there are errors, display them in a modal.
            if (error_messages.length > 0) {
                displayModal("<h2>Errors:</h2>" + error_messages.join("<br />"));
                error_messages = [];
            } else {
                // If there are no errors - then create the run
                // Gather the postcodes from the table.
                var postcodes_to_send = [];
                $('#postcodes_table').find('tr td:first-child').each(function () {
                    postcodes_to_send.push($(this).html());
                });

                // Fire up an AJAX request.
                $.ajax({
                    url: '{% block run_create_url %}{% endblock %}',
                    cache: false,
                    type: 'POST',
                    data: {
                        'run_name': run_name, 'selected_postcodes[]': postcodes_to_send, 'run_notes': run_notes,
                        {% if questionaires %}
                            'questionaire': run_questionaire,
                        {% endif %}},
                    success: function (data) {
                        if (data['outcome'] == 'success') {
                            displayModal("<h2>Success</h2><p>The run was created and stored successfully</p>");
                            redrawMarkers();
                            resetPage();
                        }
                    },
                    error: function (data) {
                        displayModal("<h2>Failure</h2><p>The run was not created - the administrator has been notified.</p>");
                    },
                    complete: function (data) {
                    }
                });
                postcodes_to_send = []
            }
        });

        function removeAllMarkers() {
            markers.forEach(function (entry) {
                map.removeLayer(entry)
            });
        }

        function redrawMarkers() {
            // Redraws markers when the map is sufficiently zoomed.
            // $("#coordinates").html(map.getBounds().toBBoxString());
            if (map.getZoom() >= 16) {
                var m = map.getBounds();
                $.ajax({
                    url: '{% url "get_domeciles" %}',
                    cache: false,
                    data: {
                        'BBox': m.toBBoxString(),
                        '{% block object_type %}region{% endblock %}': {{object.pk}},
                        'query_type': '{% block query_type %}leafleting{% endblock %}'
                    },
                    success: function (data) {
                        // Remove all markers, then re-plot them.
                        removeAllMarkers();
                        data['data'].forEach(function (entry) {
                            // For each point returned, create a marker
                            var marker = L.marker([entry['point'][1], entry['point'][0]], {'title': entry['postcode']});
                            // Is it Red (already allocated) or Blue?
                            if ($.inArray(entry['postcode'], selected_postcodes) == -1) {
                                marker.setIcon(blue_icon);
                            } else {
                                marker.setIcon(red_icon);
                            }

                            // Make it clickable
                            marker.on('click', marker_click);
                            markers.push(marker);
                            map.addLayer(marker);
                        });
                    }
                });
            } else {
                // It's not zoomed enough - so remove the previously placed markers.
                removeAllMarkers();
            }
        }
    </script>
{% endblock %}
