{% extends "base.html" %}
{% load static %}
{% block extrahead %}
    <link rel="stylesheet" href="{% static 'leaflet.css' %}"/>
{% endblock %}

{% block content %}
    <div class="large-12 columns">
        <h1>{% block purpose %}Block:Purpose{% endblock %}</h1>

        <h2>{{ object.local_authority_name }}: {{ object.ward_name }}</h2>

        <p>Zoom the map, and pick off the postcodes you'd like to add to this run.</p>

        <div id="map"></div>

        <form id="postcode_form">
            <div class="row">
                <div class="large-9 columns">
                    <label>Postcode
                        <input type="text" placeholder="Put a postcode in here - and the map will go there"
                               id="postcode_input"/>
                    </label>
                </div>
                <div class="large-3 columns text-center">
                    <button id="resetView">View Entire Ward</button>
                </div>
            </div>
        </form>

        <hr>
        <form id="run_information">
            <label>A name for this run:
                <input type="text" placeholder="Give this run a memorable title."
                       id="run_name"/>
            </label>
            <label>Notes on this run:
                <textarea placeholder="Tenements, big driveways, urban area, buzzers? Write these here."
                          id="run_notes"></textarea>
            </label>
            <button id="save_run">Save Run</button>
        </form>
        <p>There are <span id="count_addresses">0</span> addresses on this run so far.</p>
        <table id="postcodes_table">
            <thead>
            <th width="150">Postcode</th>
            <th>Addresses</th>
            <th>Summary</th>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
    <div id="myModal" class="reveal-modal" data-reveal></div>

{% endblock %}

{% block before_body_close %}
    {% include "js/map_code.html" %}
    <script>
        $("#save_run").click(function (e) {
            e.preventDefault();
            var error_messages = [];
            var run_name = $("#run_name").val();
            var run_notes = $("#run_notes").val();
            if (run_name === '') {
                error_messages.push('You must give this run a name.');
            }
            if (selected_postcodes.length == 0) {
                error_messages.push("You must add some postcodes for this run.");
            }
            if (error_messages.length > 0) {
                displayModal("<h2>Errors:</h2>" + error_messages.join("<br />"));
                error_messages = [];
            } else {
                var postcodes_to_send = [];
                $('#postcodes_table').find('tr td:first-child').each(function () {
                    postcodes_to_send.push($(this).html());
                });
                $.ajax({
                    url: '{% block run_create_url %}{% endblock %}',
                    cache: false,
                    type: 'GET',
                    data: {'run_name': run_name, 'selected_postcodes[]': postcodes_to_send, 'run_notes': run_notes},
                    success: function (data) {
                        displayModal("<h2>Success</h2><p>The run was created and stored successfully</p>");
                        redrawMarkers();
                        resetPage();
                    },
                    error: function (data) {
                        displayModal("<h2>Failure</h2><p>The run was not created</p>");
                    },
                    complete: function (data) {

                    }
                });
                postcodes_to_send = []
            }
        });

        function redrawMarkers() {
            if (map.getZoom() >= 16) {
                var m = map.getBounds();
                $.ajax({
                            url: '{% url "get_domeciles" %}',
                            cache: false,
                            data: {
                                'BBox': m.toBBoxString(),
                                '{% block object_type %}region{% endblock %}': {{object.pk}},
                                'query_type': '{% block query_type %}leafleting{% endblock %}'
                            },
                            success: function (data) {
                                markers.forEach(function (entry) {
                                    map.removeLayer(entry)
                                });
                                data['data'].forEach(function (entry) {
                                    var marker = L.marker([entry['point'][1], entry['point'][0]], {'title': entry['postcode']});
                                    if ($.inArray(entry['postcode'], selected_postcodes) == -1) {
                                        marker.setIcon(blue_icon);
                                    } else {
                                        marker.setIcon(red_icon);
                                    }
                                    marker.on('click', marker_click);
                                    markers.push(marker);
                                    map.addLayer(marker);
                                });

                            }
                        }
                );
            } else {
                markers.forEach(function (entry) {
                    map.removeLayer(entry)
                });
            }
        }
    </script>
{% endblock %}
