{% extends "base.html" %}

{% block content %}
    {% regroup object_list by local_authority_name as ward_list %}
    <div class="large-9 columns">
        <h1>{% block page_heading %}Local Authorities{% endblock %}</h1>
        <ul class="accordion" data-accordion>
            {% for local_authority in ward_list %}
                <li class="accordion-navigation">
                    <a href="#box{{ forloop.counter }}">{{ local_authority.grouper }}</a>

                    <div id="box{{ forloop.counter }}" class="content">
                        <ul>
                            {% for object in local_authority.list %}
                                <li><p><a href='{% block run_picker %}{% endblock %}'>{{ object }}</a>
                                </p></li>
                            {% endfor %}
                        </ul>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="large-3 columns">
        <p>{% block side_message %}Select the local authority area, then the ward you wish to pick from.{% endblock %}</p>
    </div>
{% endblock %}
