{% extends "base.html" %}
{% load static %}
{% block breadcrumbs %}
    <nav class="breadcrumbs">
        <a href="{% url 'homepage' %}">Home</a>
        <a class="current">Canvassing</a>
    </nav>
{% endblock %}
{% block page_title %}{{block.super}} Canvassing{% endblock %}
{% block content %}
    <div class="large-9 columns">
        {% block mainblock %}
            <h2>Canvassing</h2>
            <div class="row">
                <div class="large-9 columns">
                    <h3>Why Do We Canvass?</h3>

                    <p>Canvassing in local neighborhoods (both at the doors and in high traffic areas) is the most
                        effective way to talk with community members about the issues that matter to them. We need to let
                        our neighbours know about our efforts and invite them to join us in the struggle for socialism
                        in Scotland!</p>

                    <p>It is one of the most time-consuming ways of conducting a campaign, but it is also one of the
                        most effective. If we come to somebody’s home, there is a much greater chance that he or she
                        will remember us (compared to, say, reading our leaflet or an article about us in the local
                        press).</p>

                    <p>Door-to-door campaigns are always worth doing even if we are inexperienced. It may be that
                        someone is more willing to vote for a slightly lost-looking person who knocks on their
                        door and presents his or her programme than for a completely anonymous
                        leaflet left in their postbox. Remember that people/voters appreciate effort.</p>
                </div>
                <div class="large-3 columns">
                    <img src="{% static 'images/why_canvass/canvassing_clipboard.jpg' %}">
                </div>
            </div>
        {% endblock %}
    </div>
    <div class="large-3 columns">
        {% block sidepanel %}
            <div class="panel radius">
                <h4>{% block runs %}Canvass Runs{% endblock %}</h4>
                {% if runs %}
                    <ul>
                        {% for run in runs %}
                            <li><a href="{{ run.get_absolute_url }}">{{ run }}</a> - {{ run.count_people }} contacts</li>
                        {% endfor %}
                    </ul>
                    <a href="{% block list_url %}{% url 'canvass_list' %}{% endblock %}">See All</a>
                {% else %}
                    <p>None yet</p>
                {% endif %}
            </div>
            <div class="panel callout radius">
                {% block create_run %}
                    <h5>Create Run</h5>
                    <p>Create a canvass run near you!</p>
                    <p><a href="{% url 'canvass_ward_list' %}">Council Ward</a>, or <a href="{% url 'canvass_region_list' %}">Region</a></p>
                {% endblock %}
            </div>
        {% endblock %}
    </div>
{% endblock %}