{% extends "canvassing_homepage.html" %}
{% load static %}
{% block breadcrumbs %}
    <nav class="breadcrumbs">
        <a href="{% url 'homepage' %}">Home</a>
        <a class="current">Leafleting</a>
    </nav>
{% endblock %}
{% block mainblock %}
    <h2>Leafleting</h2>
    <div class="row">
        <div class="large-9 columns">
            <p>Getting campaign literature in the hands of the voters is essential. They are also a way to publicise RISE
                policy and campaign on important issues.</p>

            <p>Organisation of such is often difficult - leafleters do not want to waste time double-leafleting an area,
                while other areas remain untouched.</p>

            <p>COMRADE can help here.</p>
        </div>
        <div class="large-3 columns">
            <img class="right" src="{% static 'images/leafleting-session.jpg' %}">
        </div>
    </div>

{% endblock %}
{% block runs %}Leaflet Runs{% endblock %}
{% block create_run %}
    <h5>Create Leaflet Run</h5>
    <p>Create a <a href="{% url 'leaflet_ward_list' %}">leaflet run</a> near you!</p>
{% endblock %}

{% block list_url %}{% url 'leaflet_list' %}{% endblock %}