{% extends "base.html" %}
{% block content %}
    <div class="large-9 columns">
        <h3>Why Leaflet?</h3>

        <p>As a movement, we don’t have advertising budgets comparable to those of the pro-capitalist political parties
            that profit from exploitation. So, we have to find inexpensive yet effective ways to promote the message of
            socialism in Scotland. Most of us became aware of the ways we can help others after personal interactions
            with someone who was badly let down, and we can create similar circumstances that will help bring others
            along as well. By handing out literature and talking with people one-on-one, we can easily and positively
            affect people’s interest in socialist ideas.</p>

        <p>While we may not have funds at our disposal, we have a significant asset: hundreds of individuals motivated
            by compassion, rather than profit. Indeed, growing numbers of socialist advocates across the country are
            willing to spend at least a few hours each week encouraging people to explore our ideas, because we know
            <strong>there is no more effective way of reaching people than by showing them a kind face and distributing
                reader-friendly literature.</strong></p>

        <h3>Where to Leaflet</h3>

        <p>The best places to leaflet are public areas with high foot traffic. Good locations are:</p>
        <ul>
            <li>outside of subway, train, or bus stations (especially during rush hour)</li>
            <li>on college campuses (though, if you’re not a student, you may be asked to leave)</li>
            <li>near high schools around lunchtime or just before or after school</li>
            <li>outside of major events like concerts, exhibitions, and sports games (preferably as people are leaving)
            </li>
        </ul>
        <p>When leafleting, it’s very helpful to recognize that not everyone will be as receptive to socialist ideas as
            others. <strong>Because of this, it makes sense to focus greater effort on those you feel may be more
                interested.</strong>.</p>

        <p>Usually, when you’re leafleting, you’ll be able to give leaflets to hundreds of people and withholding
            leaflets isn't suggested. However, we may want to pick areas that are frequented by a receptive audience to
            maximize the effectiveness of our time and effort.</p>

        <h3>What to Leaflet</h3>

        <p>There are many wonderful advocacy tools available for you to distribute. It’s generally a good idea to have
            one simple, brief leaflet you will pass out to everyone, and another more extensive publication to give to
            those who seem especially interested in learning more.</p>

        <h3>What to Say</h3>

        <p>Since we don’t want people to simply throw away the literature, it’s best to let passersby know what the
            leaflet is about before they take it. Simply saying, <em>Can I offer you a leaflet on the £10 Living
                Wage?</em> seems to work well.</p>

        <p>When talking about socialism, make sure not to complicate the issue, if at all possible. <strong>We should
            focus on how we can combat poverty, rather than deliver an abstract argument.</strong></p>

        <p>While you engage people in conversation about the suffering of the people under capitalism, be certain to
            tell each one how we can take a stand against that cruelty by being involved or voting for socialists,
            effectively helping to make the world a better place for all of us.</p>

        <h3>Simple and Effective Leafleting Tips</h3>

        <p>1. <strong>Always look professional and clean-cut.</strong> Even if this means dressing in a way you wouldn’t
            ordinarily dream of, it’s important not to give passersby a reason to quickly dismiss you and the message.
            Promoting socialism sometimes requires sacrifice from each of us, and changing our appearance for public
            outreach is a minor—but important—one to make. Keep in mind that since we’re trying to popularise socialism,
            we need to appeal to the "average" person. Activists have found that the general public is much more open to
            considering socialism if we look as mainstream as our message of compassion should be.</p>

        <p>2. While leafleting, <strong>try to be outgoing and friendly</strong>. Many people may just walk past unless
            you approach them in a positive and pleasant manner. <strong>A simple smile can have a dramatic effect on
                how people perceive you and serve as an encouraging invitation to take a leaflet.</strong></p>

        <p>3. If you have a conversation with someone <strong>make sure to stay focused</strong>. It’s fine to have a
            quick conversation about the weather, the football season, or some neutral topic to connect with the person
            with whom you’re speaking. But try to avoid losing sight of why you’re there: to promote the party, and to
            expose the fallacy of mainstream political parties purported solutions.</p>

        <p>4. <strong>Don’t engage with hostile people.</strong> Be careful to pick your battles. A good conversation
            with a person clearly interested in the issues is worth having. A lengthy discussion with someone only
            interested in hurling "what ifs" at you is not worth having. If someone yells at you, talks in a belittling
            manner, or tries to provoke you into a heated debate, it is best to either ignore the person, if possible,
            or just to say, "Thanks very much for your comments. I have to get back to leafleting now." We know it’s
            tough to just turn away and ignore people, but trust us: If you talk with them, they will only become more
            belligerent, and you will not change their minds. Additionally, no matter how nice you are, the impression
            people passing by will get is one of you being the instigator, since you’re the one asking people to change
            their habits. The focus will be placed negatively on you, rather than on capitalism.</p>

        <p>5. <strong>Be very polite and make it easy for them to take the literature.</strong> When we refer to people
            as "ma’am" or "sir" and say "thank you" or "have a great day" to those who take literature, we are seen as
            well-mannered, well-meaning individuals concerned about alleviating human suffering, rather than "radical
            militants" who the public is all-too-eager to dismiss. Also, try to place the leaflet directly in front of
            the passing person’s stomach so it’s easier for them to take the leaflet from you if they choose.</p>

        <h3>You <em>Are</em> Making a Difference</h3>

        <p>As you consider the ways you can best advance the cause of socialism in Scotland, make sure to keep
            leafleting high on your list. Even if you convince people to consider the arguments, and to appreciate the
            social and economic injustices hurled at the working class, that alone can have a dramatic impact on
            capitalism, if done by enough people. <strong>Never underestimate the effect you can have.</strong></p>

        <p>If you find a busy enough area, you should be able to easily pass out 300 leaflets in just one hour. Consider
            this:</p>
        <ul>
            <li>By leafleting for only one hour per week (a small sacrifice to make), you can expose more than 15,000
                people to the party message in just one year.
            </li>
            <li><strong>Even if only 1 out of 300 people you leaflet actually votes for the SSP, that’s still more than
                50 new voters each year, thanks to your one-hour’s effort each week!</strong></li>
            <li>Your leafleting for just one hour each week also encourages dozens and dozens more people to consider
                their politics - this is democracy at its most basic and straightforward.
            </li>
        </ul>
        <p>It’s hard to imagine a better use of our time.</p>

        <p>How many hours do you spend each week watching television, going to the movies, or shopping? Why not take a
            couple of those hours and commit to a weekly leafleting endeavor with the branch? You should be able to find
            comrades to help and you’ll have a small group of people out every week, helping your community appreciate
            that socialist politics is alive and well.</p>

        <p>Please don’t wait to get started, Scotland needs your help now more than ever!</p>
    </div>
{% endblock %}