{% extends "base.html" %}
{% load static %}
{% block page_title %}{{block.super}} Why Canvass?{% endblock %}
{% block content %}
    <div class="large-9 columns">
        <h2>Why Canvass?</h2>

        <p>For decades, political scientists have analyzed and debated the effectiveness of various means of
            campaigning, and the utility of canvassing remains one of the few undisputed conclusions reached
            by major scholars of the subject.</p>

        <p>By far the most effective way to turn out voters is with high-quality, face-to-face conversations
            that urge them to vote.</p>

        <p>Unfortunately, canvassing requires a colossal amount of time and lots of hard work. Even worse,
            if it is not conducted correctly, it can be useless or even counterproductive. Time – a
            candidate's own and that of volunteers – is a precious commodity of any campaign. To be
            effective, canvassing efforts must be properly used. This is the purpose of this document.</p>

        <h3>What is a Canvass?</h3><img src="{% static 'images/why_canvass/canvassing_clipboard.jpg' %}"
                                        class="right"
                                        style="margin: 0 0.7em"/>

        <p>Canvassing refers to going door-to-door in a neighborhood and having conversations about
            important issues with community members. It is an essential component of organizing. We use
            canvassing to talk to voters about issues that matter to them, spread our message and recruit
            new volunteers. The results of every conversation are recorded so we can make sure we are
            organizing in the most efficient way possible and focusing on what's most important to
            voters.</p>

        <h3>Where Do We Canvass?</h3>

        <p>Usually the goal of any canvass is to talk to as many people as possible. Therefore, we want to
            target areas that are dense with people and allow us to easily talk to them all.</p>

        <p>We recommend canvassing both public locations and going door-to-door in neighborhoods. Public
            locations should be areas where people pass by regularly. Good canvass spots include grocery
            stores, sporting events, public transport stops, fast food restaurants, parks, college campuses,
            etc. It’s important to have several back up places in case the location is unsuccessful or the
            canvasser is asked to move. Make sure your canvassers know not to be discouraged if they are
            asked to leave a location – flexibility is key.</p>

        <p>Door-to-door canvassing should focus on dense neighborhoods that are easily walkable. You want to
            choose neighborhoods where the houses are relatively close together and you can hit as many
            doors as possible.</p>

        <h2>Getting Started</h2>

        <h3>Step 1: Select a Staging Location</h3>

        <p>

        <div class="text-center"><img src="{% static 'images/why_canvass/Edinburgh South YES Hub.jpg' %}"></div>
        </p>

        <p>Determine where your “staging location” will be. That is where people will gather before and
            after the canvass. Your staging location can be a private home, park, school, or any other
            location that will accommodate your group and allow for a brief training session.</p>

        <h3>Step 2: Use social media</h3>

        <p>

        <div class="text-center"><img src="{% static 'images/why_canvass/social_media.png' %}"></div>
        </p>

        <p>Take a moment to advertise your canvassing session online using Facebook. This means you’ll get
            your own page for your event, be able to send an invite to your friends, track who is planning
            on attending, and send details and reminders to your attendees. Feel free to use Twitter to
            inform others.</p>

        <h3>Step 3: Recruit Volunteers and Build a Team</h3>

        <p>Invite as many volunteers as possible to participate in your canvass. Make phone calls and tap
            into your network of friends, neighbors, and colleagues to find volunteers. You may also want to
            create your own flyers promoting the canvass and post them at your local coffee shop, grocery
            store, or library.</p>

        <p>It's often helpful to distribute the tasks involved in running a canvass. You may want to
            consider finding volunteers for the following roles:</p>

        <ul>
            <li><strong>Canvass Coordinator</strong> – coordinates splitting up neighborhoods, identifying
                high-traffic locations, and makes maps, as well as helping to prepare, distribute and
                re-collect canvass materials.
            </li>
            <li><strong>Volunteer Recruitment Coordinator</strong> – responsible for reaching out to
                volunteers, confirming volunteer canvass sign-ups, and managing volunteer sign-in on canvass
                day.
            </li>
            <li><strong>Resources Coordinator</strong> – Helps to find and secure the staging ground; a
                place to meet before and after the canvass. This person may need to consider parking needs,
                toilets, etc. This person also helps to get donations of food and water to sustain
                canvassers.
            </li>
            <li><strong>Trainer</strong> – this should be an experienced canvasser who can talk through how
                canvassing works, as well as explain why the neighborhood and the people you’re contacting
                are important. This person also should be able to set and communicate a clear goal that will
                motivate and focus volunteers.
        </ul>
        <h3>Step 4: Prepare all of your Materials</h3>

        <p>Create a list of canvass locations, keeping in mind that you want to canvass in walkable
            neighborhoods
            and high-traffic public locations. Be sure to photocopy enough maps for everyone to have one and
            delegate out an appropriate amount of streets for each person. Here's a list of other items you
            might
            need to have ready:</p>

        <ul>
            <li><strong>Map and Walk List</strong> - Your walk list is made up of the households you must
                visit and
                will be provided by the canvass organizer. Each page of your walk list will include only the
                houses
                on one side of one street and will be in the order that is easiest to walk them. Its best of
                you
                pair the walk sheet packets up so that two people can walk in the same area together.
            </li>
            <li><strong>Script</strong> - The script will be provided by your canvass organizer and is meant
                to act
                as a guide for your conversations. It will feature a number of questions you should ask the
                voters
                you speak with.
            </li>
            <li><strong>Tally Sheet</strong> - The tally sheet will typically be a part of your walk list.
                It is
                critical that when you talk to each voter, you code your conversations correctly on the walk
                sheet
                with their answers to the questions in the script. Accurate data is essential to our
                organizing
                efforts.
            </li>
            <li><strong>Campaign Literature</strong> - Give each voter one of these. If the person is not at
                home,
                put the literature through the letter-box or leave the literature with someone else or on
                his/her
                doorstep.
            </li>
            <li><strong>Pens and a Clipboard</strong> - Be prepared by making sure you have supplies to make
                canvassing easier, have enough pens and clipboards for your entire team. Having a clipboard
                to write
                on will make recording the results of your conversations much easier.
            </li>
            <li><strong>Comfortable Walking Shoes and Water</strong> - Tell your volunteers to be prepared
                for
                spending a few hours on their feet and to bring water for while they're out.
            </li>
            <li><strong>Contact Information</strong> - Exchange cell phone numbers with the team leader or
                other
                volunteers you are working with, in case you get delayed or lost.
            </li>
        </ul>

        <h3>Step 5: Make Reminder Calls</h3>

        <p>Be sure to make reminder calls to everyone who has signed up online or has told you verbally they
            plan on
            attending. Turn out will increase dramatically if you ask them for a firm commitment.

        <h2>Sample Agenda For Your Canvass</h2>

        <p>

        <div class="text-center"><img src="{% static 'images/why_canvass/dumbiedykes.jpg' %}"></div>
        </p>
        <p>This agenda is meant as a suggestion to guide you through your canvass. Feel free to adjust the
            agenda to best suit your neighborhood and participants.</p>

        <h3>Welcome and Introduction (10 min)</h3>

        <p>If possible, have each person introduce themselves by name. Have two people share their personal
            stories, addressing what is at stake for them personally. Stories should give a human side to
            our organizing work and remind us of the real impact of the decisions made in Westminster and
            the Scottish Parliament.</p>

        <p>Also be sure to explain why you’re knocking doors today and what the group’s motivation and
            ultimate goals are.</p>

        <h3>Set expectations (3 min)</h3>

        <p>Share your goal for the number of doors you are trying to knock and the number of people you are
            trying to reach. Put this number into perspective by reminding your volunteers that they are
            part of a huge effort with thousands of volunteers across the country engaging in similar
            efforts.</p>

        <h3>Review the script and role play with a partner (5 min)</h3>

        <p>Have all your volunteers take some time before you begin to think of a one-minute explanation of
            why they are volunteering for the SSP. Read the script out loud and ask if anyone
            has questions. Practice what you are going to say when you knock on the door. Let people know
            that it's alright to share their story in order to personalize the message, but that they should
            try to answer all the questions on the script.</p>

        <h3>Explain logistics (3 min)</h3>

        <p>Address how people should organize in groups, give any necessary transportation details and pass
            out
            materials.</p>

        <h3>Hit the streets! (3 hours)</h3>

        <p>Check on your team during the action. As the event host, it's your job to keep your team
            motivated.
            Collect cell phone numbers and text updates about your group’s success! Example: Alex got his
            first
            signature, Caroline’s out of pens because she’s had so many signups, etc!</p>

        <h3>Debrief (5-10 min)</h3>

        <p>At the end of the canvass have everyone tally up the number of doors they knocked and the number
            that
            were successful contacts. Gather the information and make sure the data has been entered or will
            be
            (There should be a staff member or regional lead who will collect data). Present how your group
            fared
            overall and ask those who did well what made the difference. Ask those who struggled what the
            challenges
            were that we need to prepare better for next time.</p>

        <p>Don't forget in your debrief to let people know about your next event or how they can get more
            involved
            in your local group.</p>

        <h3>Celebrate!</h3>

        <p>If possible, organize a potluck or an optional social gathering afterward. Talk about your
            success
            together!</p>

        <h2>Things to Remember while Talking to Voters</h2>

        <h3>Smile!</h3>

        <p> This is the most basic rule of voter contact. If you look and sound like you are
            enjoying yourself, people will be more interested in engaging in conversation with you and
            discussing what issues are important to them.</p>

        <h3>Stay positive!</h3>

        <p> As a volunteer, you're here to excite voters about the SSP's agenda and the work the party is
            doing - not to weigh them down with complaints about the opposition or their viewpoints.
            Comparisons are good, but keep a positive focus on the party's goals. And don't waste time with
            people who cannot be won. Kindly thank them for their time and move on. Your time is valuable,
            and there are a lot of voters to contact.</p>

        <h3>Don’t pretend to be a policy expert.</h3>

        <p> It’s likely that someone will ask you a question to
            which you do not know the answer. That’s okay. You should never be afraid to admit you do not
            know the details of one of the party's policies. If you aren’t sure, say just that. You can
            point them to <a href="http://www.scottishsocialistparty.org/policies/">www.ScottishSocialistParty.org/policies/</a>
            for more information on the particular issue.</p>

        <h3>Follow the script, but speak from the heart.</h3>

        <p>You will be provided with a script and information on the issues to help you engage voters. But
            you should use the script as a guide and feel free to explain to voters what inspired you to
            work with the SSP. Your personal story will always be the most effective way of engaging with
            voters.</p>

        <p>If you talk with a voter about issues beyond the script, that's great! Having a conversation is
            the most effective way to share the party's agenda with other voters or bring them into the SSP.
            Make sure to first record their answers to the questions on the script and then make a note of
            anything else the person said.</p>
        <p class="right"><a href="#more-tips">Read more tips</a></p>

        <h2>Capture Information</h2>

        <p>Reporting good data from your canvassing is just as important as actually talking to the voters.
            Understanding what voters think about important issues helps us ensure we are running the most
            effective organization possible.</p>

        <p>

        <div class="text-center"><img src="{% static 'images/why_canvass/canvass_papers.jpg' %}"></div>
        </p>

        <p>Remember this is very important as it allows the SSP to gauge the impact of your work and gauge
            what additional resources we can provide.</p>

        <h2>Thank your guests</h2>

        <p>Send a personal email thanking everyone who participated in the canvass. Be sure to stay
            connected with your fellow volunteers and get ready for the next action!</p>
    </div>
    <div class="large-3 columns">
        <a name="more-tips"></a>
        <h3>More Canvassing Tips</h3>
        <h5>Follow your walk list.</h5>
        <ul>
            <li>Knock on every door identified on your walk list, and don't stay too long at a door. Leave literature at
                every listed door, even if the person is not home. Try to talk with the voter listed on the sheet and
                only
                visit the houses on the list unless your canvass organizer specifically tells you otherwise.
            </li>

            <li>If you speak with a member of the household other than the voter on your walk list, do not record the
                responses as those of the person on your list. You should simply report the voter as "Not Home" and move
                on
                to the next house.
            </li>
        </ul>
        <h5>Stay safe!</h5>
        <ul>

            <li>Don’t go inside houses, even in a group. Don’t knock on a door you feel uneasy about. Don’t offer to
                shake
                people’s hands at the door - it can often put people off - but shake their hands if they offer.
            </li>
        </ul>

        <h5>Get to the point</h5>
        <ul>
            <li>Say the most important thing first. Avoid apologising for bothering them in the first sentence – people
                prefer you get to the point of why you're calling.
            </li>
            <li>The person opening the door won't want to hear too much complicated stuff in the first minute or so
                leave aside complicated explanations in favour of making a good first impression.
            </li>
        </ul>
        <h5>Body language</h5>
        <ul>
            <li>If you seem confident and relaxed, so will they - if you're nervous and tense then they will also tend
                to react defensively.
            </li>
            <li>Use inclusive gestures, open stance - never cross arms while you speak, or stand like you are about to
                leave for example.
            </li>
            <li>Don't be intimidating, and don’t approach people’s doors in groups.</li>
            <li>Remember to smile; don't go if you're in a bad mood. People always pick up on it.</li>
        </ul>
        <h5>Know your brief</h5>
        <ul>
            <li>Know your script, and answers to frequently asked questions, so you don't fumble your words when
                asked.
            </li>
        </ul>
        <h5>Miscellaneous</h5>
        <ul>
            <li>It sounds silly, but your knocking style is important. If you sound too official, people may not come to
                the door.
            </li>
            <li>Behave from the moment you touch the gate - people often hear it and will check you through the
                curtains. Close the gate behind you, and don't walk on the grass. Close the gate behind you when you
                leave as well.
            </li>
        </ul>
    </div>
{% endblock %}